body {
  width: 100%;
  height: 100%;
  margin: 0;
}

    body {
        text-align: center;
    }
    header {
        text-align: center;
    }
    img {
      display: block; 
       margin: 0 auto; 
  }
  .navbar {
    text-align: center; 
}

.navbar a {
    padding: 0 10px; 
    background-color: grey;
    text-decoration: none;
    color: white; 
}

.image-caption {
  font-size: smaller; 
  text-align: center;
}
#featured-property {
  width: 800px;
  margin: 20px auto;
}

#featured-property p {
  text-align: center; 
  margin: 20px 0;
}
#details {
  overflow: auto; 
}

.detail {
  float: left; /
  margin-right: 20px; 
}

section#details div {
  background-color: lightgrey;
  width: 25%;
  float: left;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
}
 